body {
   font-family: Segoe UI;
   text-align: center;
   margin: 0;
   overflow-x: hidden;
   /* Hide horizontal scrollbar */
}

@keyframes fade {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes moveup {
   from {
      bottom: -40%;
   }
}

a:visited {
   color: initial;
}

.dis-sel {
   user-select: none;
   /* supported by Chrome and Opera */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
}

#thanks {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   background-image: url("image/bg.jpg");
   background-attachment: fixed;
}

#thanks h1 {
   color: white;
   margin: auto;
   font-size: 50px;
}

#thanks h1 p {
   font-family: Tahoma;
   color: white;
   margin-top: 25px;
   margin-left: 50vw;
   font-size: 25px;
}

#gift {
   width: 100vw;
   height: 35vh;
   text-align: center;
}

#gift h2 {
   margin-top: 100px;
   margin-right: 700px;
   border: 1px solid #5565d0;
   padding: 0px;
   width: fit-content;
   position: relative;
   left: 13%;
   top: 10%;
   padding: 10px;
   box-shadow: 5px 6px #888888;
   border-radius: 5px;
}


#gift a {
   z-index: 10;
   position: absolute;
   width: 200px;
   height: 200px;
   top: 83%;
   left: 58.2%;
}

#gift a img {
   transform: scale(0.5, 0.5);
   transition: transform 1s;
}

#gift a img:hover {
   transform: scale(0.6, 0.6);
}

@keyframes mygift {
   from {
      margin-top: 120px;
   }
}

#gift p {
   margin-top: 100px;
   margin-left: 705px;
   animation: mygift 1s 7;
}

#gift h3 {
   transform: rotate(-90deg) scale(1, 3);
   margin-top: -80px;
   margin-left: 690px;
}

#kiss {
   background: palevioletred;
   border-radius: 5px;
   color: white;
   width: fit-content;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   display: flex;
   transition: box-shadow 1s;
}

#kiss:hover {
   box-shadow: -5px 5px 10px #888888;
}

#kiss-img {
   border: 2px solid palevioletred;
   border-radius: 5px;
   padding: 10px;
   margin-top: 30px;
   animation: fade 3s;
   animation-delay: initial;
   transition: box-shadow 1s;
}



#kiss-img:hover {
   box-shadow: 10px 10px 10px #888888;
}

.kiss-h {
   position: absolute;
   animation: moveup 4s;
   bottom: 20%;
}

#ans th {
   text-align: center;
   font-size: 18px;
   padding: 10px 50px;
   color: #5565d0;
   border: 1px solid rgb(82, 36, 40);
   border-radius: 3px;
}

#ans td {
   color: black;
   background: #c7ebf0;
   border-radius: 3px;
   padding: 5px;
   transition: transform 0.3s;
}

#ans td a {
   text-decoration: none;
   color: crimson
}

#ans td:hover {
   transform: scale(1.2, 1.2);
   border: 2px solid #5565d0;
}

.question {
   border: 1px solid #5565d0;
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   border-radius: 3px;
   padding: 5px 10px;
   box-shadow: 3px 3px 10px #888888;
   transition: transform 0.75s;
}

.question:hover {
   transform: scale(1.2, 1.2);
}

.ans {
   width: 80vw;
   margin: auto;
   text-align: justify;
   border: 1px solid #5565d0;
   padding: 10px;
   border-radius: 5px;
}

.solve .tip {
   font-size: 11px;
}

.solve a {
   text-decoration: none;
   transition: color 0.5s;
}

.solve a:hover {
   color: #5565d0;
}